@font-face
  font-family: 'icomoon'
  src: url('../fonts/infobolets_icons.eot?tth8ca')
  src: url('../fonts/infobolets_icons.eot?#iefixtth8ca') format('embedded-opentype'),
		url('../fonts/infobolets_icons.woff?tth8ca') format('woff'),
		url('../fonts/infobolets_icons.ttf?tth8ca') format('truetype'),
		url('../fonts/infobolets_icons.svg?tth8ca#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-more:before
  content: "\e606"

.icon-summer:before
  content: "\e607"

.icon-warning:before
  content: "\e601"

.icon-fork:before
  content: "\e602"

.icon-sprint:before
  content: "\e603"

.icon-autumn:before
  content: "\e604"

.icon-winter:before
  content: "\e605"

.icon-menu:before
  content: "\e600"

